*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*~
.vagrant
.*sw?
vendor/

synapse.jar
.ruby-version
bundler-config
traveling-ruby-20150715-2.2.2-linux-x86_64.tar.gz
wrapper.sh
